{:widget('Blog/head')}
{:widget('Blog/left')}
<!-- /Page Sidebar -->
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#">系统</a>
            </li>
            <li>
                <a href="{:url('Article/index')}">文章列表</a>
            </li>
            <li class="active">文章编辑</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">文章修改</span>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form class="form-horizontal" role="form" action="{:url('Article/doEdit')}" method="post"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label no-padding-right">文章标题</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="title" name="title" type="text"
                                               value="{$data.title}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label no-padding-right">栏目</label>
                                    <div class="col-sm-6">
                                        <select name="cateid" style="width: 100%;">
                                            <option value="">请选择栏目...</option>
                                            {foreach $cate as $v}
                                            <option value="{$v.id}"
                                                    {if condition="$data.cateid eq $v.id" }
                                                    selected="selected"
                                                    {
                                            /if}>{$v.catename}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label no-padding-right">作者</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="author" name="author" type="text"
                                               value="{$data.author}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label no-padding-right">文章简介</label>
                                    <div class="col-sm-6">
                                        <input id="desc" class="form-control" name="desc" type="text"
                                               value="{$data.desc}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label no-padding-right">关键字</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="keywords" name="keywords" type="text"
                                               value="{$data.keywords}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label no-padding-right">图片</label>
                                    <div class="col-sm-6">
                                        <input type="file" name="file" value="{$data.pic}">
                                        <img style="width: 100px;" src="{$data.pic}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="is_show" class="col-sm-2 control-label no-padding-right">是否推荐</label>
                                    <div class="col-xs-4">
                                        <label>
                                            <input class="checkbox-slider slider-icon yesno" name="state"
                                                   {if condition="$data.state eq 1" }checked="checked" {/if}
                                            type="checkbox">
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label no-padding-right">文章详情</label>
                                    <div class="col-sm-6">
                                        <textarea name="content" id="content">{$data.content}</textarea>
                                    </div>
                                </div>
                                <input type="hidden" name="id" value="{$data.id}">
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">保存信息</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
</div>
</div>

<!--Basic Scripts-->
<script src="__STATIC__/admin/style/jquery_002.js"></script>
<script src="__STATIC__/admin/style/bootstrap.js"></script>
<script src="__STATIC__/admin/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src="__STATIC__/admin/style/beyond.js"></script>

<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    UE.getEditor('content', {initialFrameWidth: 700, initialFrameHeight: 400});


</script>
</body></html>